.empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.checkout-input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkout-form {
    padding: 15px;
    width: 50%;
}

.checkout-wrapper {
    display: flex;
}

.checkout-wrapper > * {
    align-items: center;
    justify-content: center;
    width: 70%;
}

.checkout-btn{
    width: 40%;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px 12px;
    margin: 10px 0;
}

.product {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.checkout {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.checkout-img {
    width: 200px;
    padding: 30px;
    height: auto; 
}
